li {
    padding: 0;
    margin: 0;
}
.box-left {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ccc;
}
.box-left-top {
    padding-bottom: 160px;
}
.box-left-top ul li {
    padding: 15px 15px;
    list-style-type: none;
}

.box-left-top-li:hover {
    background-color: rgb(247, 244, 244);
}
.box-left-top-li .selected {
    border-bottom: 0.4px solid red;
}
.box-left-top ul li a {
    text-decoration: none;
    color: black;
}
.box-left-bottom-content {
    padding: 25px 40px;
}
.box-left-bottom-content i {
    padding: 0 3px;
}
.box-left-bottom-content span {
    letter-spacing: 3px;
    padding-right: 5px;
}
.box-left-bottom-content p a{
    padding: 15px 0;
    text-decoration: none;
}
.col-2-5 {
    width: 21%;
}
ul {
    margin: 0;
    padding :0;
}