* {
    padding: 0;
    margin :0;
}
p, span, ul, li {
    margin: 0;
    padding: 0;
}
.mt-15 {
    margin-top: 15px;
}
.form-check-input[type=checkbox] {
    border-radius: 3px;
    width: 23px;
}
.box-form {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.box-form_if-l_avt {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.box-form_if {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.box-form_if-l{
    width: 140px;
    margin: 10px  30px 10px 40px;
}
.box-form_if-l p {
    text-align: right;
}
.box-form_if-r {
    width: 450px;
}
.form-check-input {
    margin-right: 10px;
    margin-top: 18px;
}