.footer {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}
.footer-top {
    display: flex;
    flex-direction: row;
    padding-left: 190px;
    padding-bottom: 25px;
}
.footer-top li {
    padding: 0 15px;
    list-style-type: none;
}
.footer p {
    padding-bottom: 35px;
}