@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  head {
    @apply dark:bg-gray-900;
  }
}

.mentions {
  margin: 0.5rem 0;
}

.mentions--multiLine .mentions__input {
  outline: 0;
  border: 0;
}
