@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  head {
    @apply dark:bg-gray-900;
  }
}

@layer components {
  .nav-btn {
    @apply md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
}

.mentions {
  margin: 0.5rem 0;
}

.mentions--multiLine .mentions__input {
  outline: 0;
  border: 0;
}
